.main-content {
  .xinfa-panel {
    position: fixed;
    width: 70px;
    top: 50px;
    bottom: 0;
    background-color: #373E40;
    padding-top: 10px;
    .xinfa-item {
      cursor: pointer;
      width: 100%;
      padding: 10px 0px;
      margin: 0px 0px;
      text-align: center;
      transition: opacity .2s ease,background .2s ease,box-shadow .2s ease;
      img {
        width: 40px;
        height: 40px;
        margin: 0px auto;
      }
      &:hover {
        background-color: rgba(255,255,255,.1);
      }
      &.selected {
        background-color: rgba(255,255,255,.2);
        &:hover {
          background-color: rgba(255,255,255,.1);
        }
      }
    }
    .sep {
      height: 1px;
      margin: 0px 7px;
      background-color: rgba(240, 240, 240, 0.05);
    }
  }
  .sidebar {
    position: fixed;
    left: 70px;
    width: 180px;
    top: 50px;
    bottom: 0;
    border-right: 1px solid #CCC;

    .description {
      margin: 25px 0px 0px 0px;
      padding-bottom: 20px;
      //padding: 10px 0 0 10px;
      text-align: center;
      border-bottom: 1px solid #CCC;
      img {
        width: 100px;
        margin-bottom: 5px;
      }
      .line {
        font-family: 华文楷体;
        font-size: 17px;
        color: #333333;
      }
    }
    .menu-list {
      margin: 40px 0 0 0;
      //text-align: center;
      .menu-item {
        transition: opacity .2s ease, background .2s ease, font-size .2s ease, margin .2s ease;
        cursor: pointer;
        div {
          display: inline-block;
          width: 30px;
          text-align: center;
        }
        margin-top: 20px;
        margin-left: 30px;
        font-size: 15px;
        &:hover {
          margin-left: 25px;
        }
        &.selected {
          border-right: 5px solid #484848;
          margin-left: 25px;
        }
      }
    }
  }
  .main-panel {
    overflow-y: auto;
    position: fixed;
    left: 250px;
    right: 0px;
    top: 50px;
    bottom: 0;
    padding: 20px;
    .section {
      border: 1px solid #ccc;
      border-radius: 5px;
      background: white;
      .title {
        height: 25px;
        line-height: 25px;
        padding: 10px 20px;
        border-bottom: 1px solid #ccc;
        font-size: 16px;
      }
      .qixue-item {
        //display: block;
        margin: 10px;
        .name {
          padding-right: 8px;
          min-width: 50px;
          //display: inline;
          cursor: pointer;
          //display: inline-block;
          //width: 20%;
          border-right: 1px solid #ccc;
        }
        .description {
          //width: 79% - 5px;
          //padding-left: 5px;
        }
      }
    }
  }
}

.result-panel {
  border: 1px solid;
  position: relative;
  width: 800px;
  height: 500px;
  .battle-list {
    position: absolute;
    width: 200px;
    height: 500px;
    border-right: 1px solid;
    overflow-y: scroll;
    .item {
      cursor: pointer;
    }
  }
  .battle-detail {
    position: absolute;
    left: 200px;
    width: 600px;
    top: 0px;
    height: 500px;
    .event-list {
      height: 200px;
      overflow-y: scroll;
      border-bottom: 1px solid;
    }
    .skill-stats {
      position: relative;
      .skill-list {
        width: 300px;
        height: 300px;
        position: absolute;
        border-right: 1px solid;
      }
      .skill-detail {
        left: 300px;
        width: 300px;
        height: 300px;
        position: absolute;
      }
    }
  }
}